
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    /* background-color: #f4f4f4; */
    background-image: url('../public/background.png');
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .app-container {
    text-align: center;
    max-width: 800px;
    width: 100%;
    padding: 20px;
  }
  
  
  .title {
    font-size: 4rem;
    color: #ffffff;
    margin-bottom: 20px;
    align-self: center;
  }

  .url-form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    align-self: center;

  }

  .metadata-container {
    margin-top: 30px;
  }

  .metadata {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    align-self: center;
  }

  .remove-btn {
    background-color: #ff4d4f; /* Red color for delete */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-left: 10px;
  }

  .remove-btn:hover {
    background-color: #ff7875;
    box-shadow: 0 4px 8px rgba(255, 77, 79, 0.4);
  }
  
  /* Styling for form button */
  .form-btn {
    background-color: #1890ff; /* Blue color for form submission */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-right: 10px; /* Added separation between buttons */
    margin-top: 5px;
  }
  
  .form-btn:hover {
    background-color: #40a9ff;
    box-shadow: 0 4px 8px rgba(24, 144, 255, 0.4);
  }

  .input-field{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 15px;
  }
 
  